# Sample template
# https://gist.github.com/carlessanagustin/f935fac7b61661b31d74

#   GROUPS tests
{{ groups["tests"][0] }}

#   group_vars
test_var: {{ test_var}}

#   all vars
all_vars: {{ all_vars }}
